        </main>
        
        <footer>
            <div>
                <hr>
                CST 336 Internet Programming. <%= randomDate %> &copy; <br>
                This page was composed by: <%= randomName %> <br>
                <strong>Disclaimer:</strong> The information on this webpage is for 
                academic purposes only
                <br>
                Information on this page is sourced from <%= randomCompany %>
                <figure>
                    <img src="/img/csumb_logo.png" alt="CSUMB logo">
                </figure>
            </div>
        </footer>
        
    </body>
</html>