<!DOCTYPE html>
<html>
    
<link href="/css/styles.css" rel="stylesheet" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <head>
        <meta charset="utf-8" />
        <title>Homework 1</title>
    </head>
    <body>