<% include partials/header.ejs %>

        <header>
            <h1>Databases Management Systems</h1>
        </header>
        
<% include partials/nav.ejs %> 
            
            <div>
                <h3>What is a DBMS?</h3>
                <p>A DBMS, or database management system, is software used to create, store, and interact
                with a database. There are several database management systems, each with their own pros
                and cons.</p>
                
                <h3>Most Popular DBMS:</h3>
                
                <table>
                    <tr id="table-header">
                        <td>Popularity</td>
                        <td>DBMS</td>
                        <td>Type</td>
                        <td class="logo">Logo</td>
                    </tr>
                    <tr class="table-row">
                        <td>1</td>
                        <td>Oracle</td>
                        <td>Relational</td>
                        <td class="logo"><img src="/img/oracle.jpg" alt="Oracle Logo"></td>
                    </tr>
                    <tr class="table-row">
                        <td>2</td>
                        <td>MySQL</td>
                        <td>Relational</td>
                        <td class="logo"><img src="/img/mysql.png" alt="MySQL Logo"></td>
                    </tr>
                    <tr class="table-row">
                        <td>3</td>
                        <td>Microsoft SQL Server</td>
                        <td>Relational</td>
                        <td class="logo"><img src="/img/Microsost-SQL-Server.png" alt="Microsoft SQL Server Logo"></td>
                    </tr>
                    <tr class="table-row">
                        <td>4</td>
                        <td>PostgreSQL</td>
                        <td>Relational</td>
                        <td class="logo"><img src="/img/PostgreSQL.jpg" alt="PostgreSQL Logo"></td>
                    </tr>
                    <tr class="table-row">
                        <td>5</td>
                        <td>Mongo DB</td>
                        <td>Document Based</td>
                        <td class="logo"><img src="/img/mongoDB.jpg" alt="Mongo DB Logo"></td>
                    </tr>
                    <tr class="table-row">
                        <td>6</td>
                        <td>DB2</td>
                        <td>Relational</td>
                        <td class="logo"><img src="/img/Ibm-DB2.png" alt="DB2 Logo"></td>
                    </tr>
                    <tr class="table-row">
                        <td>7</td>
                        <td>Microsoft Access</td>
                        <td>Relational</td>
                        <td class="logo"><img src="/img/Micosoft-Access.png" alt="Microsoft Access Logo"></td>
                    </tr>
                    <tr class="table-row">
                        <td>8</td>
                        <td>Cassandra</td>
                        <td>Column Based</td>
                        <td class="logo"><img src="/img/Cassandra.jpg" alt="Cassandra Logo"></td>
                    </tr>
                    <tr class="table-row">
                        <td>9</td>
                        <td>Redis</td>
                        <td>Key Value</td>
                        <td class="logo"><img src="/img/redis.jpg" alt="Redis Logo"></td>
                    </tr>
                    <tr class="table-row">
                        <td>10</td>
                        <td>Elasticsearch</td>
                        <td>Search Engine</td>
                        <td class="logo"><img src="/img/Elasticsearch.png" alt="Elasticsearch Logo"></td>
                    </tr>
                </table>
            </div>
            
<% include partials/footer.ejs %>