<% include partials/header.ejs %>

        <header>
            <h1>Databases</h1>
        </header>
        
<% include partials/nav.ejs %> 
            
            <div>
                <h3>What is data?</h3>
                <p>Data is basically any and all information worth storing. It can
                be as simple as numbers or names or even letters.</p>
                
                <img src="/img/database-blue.png" alt="Database">
                
                <h3>What is a database?</h3>
                <p>A database is a system used to collect and store data. Once stored,
                the data can be organized or manipulated to the desire of anyone with
                access. Databases allow for the massive organization and processing of
                information, and have allowed for the great advances in technology and 
                computing we see today.</p>
            </div>
            
<% include partials/footer.ejs %>