<% include partials/header.ejs %>

        <header>
            <h1> NoSQL Databases</h1>
        </header>
        
<% include partials/nav.ejs %> 
            
            <div>
                <h3>What is a NoSQL database?</h3>
                <p>A NoSQL, or non SQL, database is a database that isnt relational. This shift
                in style allows for some distinct advantages and disadvanges from relational 
                databases. Since information in a NoSQL database doesn't necessarily need to be
                linked, other methods of storing and organizing data can be used. This allows
                data to be stored on multiple servers, allowing NoSQL databases to have excellent 
                scaling capabilities. Additionally, having data replicated in multiple servers 
                allows NoSQL databases to have very high availability and reduction in failure points.</p>
                
            </div>
            <div id="list">
                <h3>Types of NoSQL databases:</h3>
                <ul>
                    <li>Key Value</li>
                    <li>Document</li>
                    <li>Column</li>
                    <li>Graph</li>
                </ul>
            </div>
            
<% include partials/footer.ejs %>